:root {
  --logoPetal: hsl(18, 61%, 87%);
  --logoSpatula: hsl(14, 63%, 76%);
  --logoBack: hsl(39, 56%, 95%);
  --logoText: hsl(6, 79%, 70%);
  --logoShadow: hsl(18, 73%, 84%);
  --logoWood: hsl(32, 55%, 56%);
  --lightPetal: hsl(12, 78%, 93%);
}
body {
  background-color: var(--lightPetal);
  background-image: url("marble.avif");
  color: var(--logoText);
  font-family: 'Varela Round';
  margin: 0;
}
header, h1, h2, h3 {
  font-family: "Style Script", cursive;
  margin: 0;
  color: var(--logoText);
}
header {
  background-color: var(--logoBack);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em;
  text-align: center;
  justify-content: center;
}
h1 {
  font-size: 4em;
  line-height: 1.1;
}
.logo {
  width: 8em;
  margin: 0 0 0 1em;
}
.contact{
  font-family: 'Varela Round';
}
.title-block{
  flex-grow: 1; 
}
.right-dummy {
  width: 8em; 
  flex-shrink: 1; 
}
a {
  color: var(--logoText);
  text-decoration: none;
}
a:hover {
  color: var(--logoSpatula);
}
.icon{
  height: 1em;
  aspect-ratio: 1;
}
button {
  cursor: pointer;
  background-color: var(--logoBack);
}
nav {
  display: flex;
  background-color: var(--logoBack);
}
nav button {
  flex: 1;
  background-color: var(--logoBack);
  border: none;
  border-radius: .5em .5em 0em 0em;
  font-family: "Style Script", cursive;
  font-size: 1.5em;
  color: var(--logoText);
}
nav button.active {
  background-color: var(--lightPetal);
  background-image: url("marble.avif");
  text-decoration: underline;
}
nav button:hover {
  background: var(--logoPetal);
  background-image: url("marble.avif");
}
section {
  display: none;
  margin: 2em;
}
.active-section {
  display: block;
}
.brownies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 15em);
  gap: 1em;
}
.textBox {
  border: 1px solid var(--logoText);
  text-align: center;
  border-radius: .5em;
}
.brownie {
  text-align: center;
}
.brownie img {
  width: 100%;
  border-radius: .5em;
}
.brownieBox {
  aspect-ratio: 1.5;
  border: 1px solid var(--logoText);
  border-radius: .5em;
}
.brownieBox img {
  width: 38%;
  margin: -3%;
}
.brownie-qty {
  font-size: 2em;
  font-family: "Style Script", cursive;
}
.brownie-qty::-webkit-outer-spin-button,
.brownie-qty::-webkit-inner-spin-button {
  opacity: 1 !important;
}
fieldset {
  border: 1px solid var(--logoText);
  border-radius: .5em;
}
textarea, input[type="text"] {
  width: 100%;
}
textarea[readonly], input[readonly] {
  border: none;
  background: transparent;
}
.honeypot {
  position: absolute;
  left: -9999px; /* Moves it far off screen */
}
.foot{
  margin: 2em;
}
