:root {
  --logoPetal: hsl(18, 61%, 87%);
  --logoSpatula: hsl(14, 63%, 76%);
  --logoBack: hsl(39, 100%, 95%);
  --logoCream: hsl(39, 20%, 90%);
  --logoPink: hsl(8, 81%, 75%);
  --logoText: hsl(8, 81%, 30%);
  --logoShadow: hsl(18, 73%, 84%);
  --logoWood: hsl(32, 55%, 56%);
  --lightPetal: hsl(12, 70%, 88%);
}
@font-face {
  font-family: "Style Script";
  src: url("styleScript.woff2") format("woff2");
}
@font-face {
  font-family: "Varela Round";
  src: url("varelaRound.woff2") format("woff2");
}
body {
  background-color: var(--lightPetal);
  background-image: url("marble.avif");
  color: var(--logoText);
  font-family: 'Varela Round';
  margin: 0;
}
header, h1, h2, h3 {
  font-family: "Style Script", cursive;
  margin: 0;
  color: var(--logoText);
}
header {
  background-color: var(--logoBack);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em;
  text-align: center;
  justify-content: center;
}
h1 {
  font-size: 4em;
  line-height: 1.1;
}
.quantityLbl{
  font-family: "Style Script", cursive;
  font-size: 1.5em;
}
.logo {
  width: 8em;
  margin: 0 0 0 1em;
}
.contact{
  font-family: 'Varela Round';
}
.title-block{
  flex-grow: 1; 
}
.right-dummy {
  width: 8em; 
  flex-shrink: 1; 
}
a {
  color: var(--logoText);
  text-decoration: none;
}
a:hover {
  color: var(--logoPink);
}
.icon{
  height: 1em;
  aspect-ratio: 1;
}
button {
  font-size: 1.1em;
  cursor: pointer;
  color: var(--logoText);
  background-color: var(--logoBack);
  border-top-color: var(--logoSpatula);
  border-left-color: var(--logoSpatula);
  border-bottom-color: var(--logoText);
  border-right-color: var(--logoText);
}
nav {
  display: flex;
  background-color: var(--logoBack);
}
nav button {
  flex: 1;
  background-color: var(--logoBack);
  border: none;
  border-radius: .3em .3em 0em 0em;
  font-family: "Style Script", cursive;
  font-size: 1.5em;
  color: var(--logoText);
}
nav button.active {
  background-color: var(--lightPetal);
  background-image: url("marble.avif");
  text-decoration: underline;
}
nav button:hover {
  background: var(--logoPetal);
  background-image: url("marble.avif");
}
section {
  display: none;
  margin: 2em;
}
.active-section {
  display: block;
}
.brownies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 15em);
  gap: 1em;
}
.textBox {
  border: 1px solid var(--logoText);
  text-align: center;
}
#fillMessage {
  display: inline-block;
  width: 33%; 
  aspect-ratio: 1;
  vertical-align: bottom;
}
.flash {
  animation: flashBorder 1s infinite;
}
@keyframes flashBorder {
  0%, 50%, 100% { 
    background-color: transparent; 
    border-color: transparent; 
  }
  25%, 75% { 
    background-color: var(--logoBack); 
    border-color: currentColor; 
  }
}
.product {
  text-align: center;
}
.product img {
  width: 100%;
  filter: drop-shadow(0 1em .1em rgba(0,0,0,.4));
}
.mouseOverBright:hover {
  filter: brightness(1.2);
}
.brownieBox {
  aspect-ratio: 1.5;
  border: 1px solid var(--logoText);
  gap: 1em;
}
.brownieBox img {
  width: 33%;
  filter: drop-shadow(0 .5em .05em rgba(0,0,0,.4));
}
.customCake img {
  filter: none;
}
.brownie-input {
  display: none;
}
fieldset {
  border: 1px solid var(--logoText);
}
textarea, input {
  border: 1px solid var(--logoText);
  padding: 0.5em;
}
textarea, input[type="text"] {
  width: 100%;
  box-sizing: border-box; 
}
.honeypot {
  position: absolute;
  left: -9999px; /* Moves it far off screen */
}
.foot{
  margin: 2em;
}
* {
  border-radius: .3em;
}
